body {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    width: 200px;
    height: 310px;
    border: solid 1px red;
}

.display {
    width: 80%;
    height: 30px;
    margin: 20px auto;
    font-size: 2rem;
    border: solid 1px blue;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-around;    
}

.button-container {
    border: solid 1px green;
    width: 80%;
    height: 70%;
    margin: 20px auto;
}