body {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    width: 200px;
    height: 310px;
    background: #1d3849;
    border-radius: 5%;
}

.display {
    width: 90%;
    height: 30px;
    margin: 20px auto;
    font-size: 2rem;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-around;    
}

.button-container {
    width: 90%;
    height: 70%;
    margin: 20px auto;
}

.row {
    display: flex;
    justify-content: space-between;
}

button {
    height: 40px;
    width: 40px;
    margin: 0 0 5px 0;    
    background: #a2bbcf;
}

.last-row {
    display: flex;
    justify-content: space-between;
}

.equal, .back {
    width: 85px;
}